%section
  %article
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext
    .subheading
      %h1 aaaaaaaa
      %p 2019/05/04(Sat) 15:39:27
    %p.message texttexttexttexttext