.wrapper__side {
  width: 300px;
  height: 100%;
  background-color: rgb(131, 73, 73);
  &__head {
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #253141;
    position: fixed;
    h1 {
      display: inline-block;
      color: $CharacterPlain-color;
      font-size: 16px;
      font-weight: bold;
      margin-left: $wrapperSideMargin;
      float: left;
    }
    ul {
      list-style: none;
      margin-right: $wrapperSideMargin;
      float: right;
      li {
        margin-left:3px;
        float: left;
        a {
          color: $CharacterPlain-color;
        }
      }
    }
  }
  &__cont {
    width: 300px;
    height: calc(100vh - 100px);
    margin-top: 100px;
    padding: 20px 0 0 0;
    background-color: #2f3e51;
    overflow: auto;
    &__inner {
      width: 260px;
      margin: 0 auto;
      color: $CharacterPlain-color;
      a {
        color: $CharacterPlain-color;
        text-decoration: none;
        font-weight: bold;
        p.group {
          font-size: 15px;
          margin-bottom: 5px;
        }
        p.message {
          font-size: 11px;
          margin-bottom:40px;
          color: $CharacterPlain-color;
        }
      }
    }
  }
}